* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-weight: 500;
    size: 1rem;
    color: blue;
}
.main {
    display: flex;
    justify-content: center;
}
.card__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: auto;
}
.product__card {
    position: relative;
    width: 45%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    border-color: black;
    padding: .5rem;
    margin: 1rem;
    /* min-height: max-content; */
    height: 700px;
}
img, form {
    display: block;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-inline: 1rem;
    justify-content: center;
}
label {
    margin-top: 1rem;
    font-size: 1rem;
}
input {
    width: 100%;
    height: 2rem;
    font-size: medium;
    border: 1px solid lightgrey;
}
.button {
    height: 2rem;
    margin-top: 1rem;
    background-color: white;
    border: 2px solid green;
    color: green;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
.button:hover {
    background-color: green;
    color: white;
}
.deleteButton {
    position: absolute;
    float: right;
    bottom: 14px;
    right: 14px;
    /* width: 4rem;
    height: 2rem; */
    color: red;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    padding: .4rem 1rem;
    /* background-color: lightgrey; */
    background-color: white;
    border-radius: 6px;
    border: 1px solid red;
    cursor: pointer;
}
.deleteButton:hover {
    background-color: red;
    color: white;
}
h2{
    text-align: center;
    margin: 2.5rem;
}